.editor {
    &__editor {
        display: flex;
    }
    &__main {
        flex: 1;
        position: relative;
        overflow: hidden;
        border-right: 1px solid #ccc;
    }
    &__side {
        width: 300px;
        padding: 10px;
        overflow: auto;
    }
}
